
#total{
    background-color: rgba(109, 224, 240,0.2);
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin-left: 40%;
    /* height: 100%; */
    
    
}
.divbox{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(136, 159, 167, 0.61);
}
input{
    background-color: rgba(238, 235, 237, 0.527); 
    color: white; 
    border-radius: 10px; 
    padding: 10px;
}
body{
    
    background-image: url(background.webp);
    
    backdrop-filter: blur(8px);
}

